<!DOCTYPE html>
<html>
<head>
  <title>Manager</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Nanjumi Manager Overview</h1>

<nav class="navbar">
  <!-- LEFT SIDE -->
  <div class="nav-left">
    <a href="/">Home</a>
    <a href="/shop">Shop</a>
    <a href="/about">About</a>
  </div>

  <!-- RIGHT SIDE -->
  <div class="nav-right">
    {% if not logged_in %}
      <a href="/login">Login</a>
    {% else %}
      <a href="/logout">Logout</a>
    {% endif %}
  </div>
</nav>

<datalist id="product_names">
  {% for p in products %}
    <option value="{{ p.name }}"></option>
  {% endfor %}
</datalist>

<h1>Dashboard</h1>

<h2>All Products</h2>
<table>
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Weight</th>
    <th>Price</th>
    <th>Status</th>
    <th>Stock</th>
    <th>Add</th>
    <th>Delete</th>
  </tr>

  {% for p in products %}
  <tr>
    <td>{{ p.category }}</td>
    <td>{{ p.name }}</td>
    <td>{{ p.weight }}</td>
    <td>{{ p.price }}</td>
    <td>{{ p.status }}</td>
<td>{{ p.stock }}</td>

<td>
  <form method="POST" action="/manager/add_stock" style="display:inline;">
    <input type="hidden" name="name" value="{{ p.name }}">
    <button type="submit">+</button>
  </form>
</td>
    <td>
      <form method="POST" action="/manager/delete">
        <input type="hidden" name="name" value="{{ p.name }}">
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

<hr>

<h2>Add Product</h2>
<form method="POST" action="/manager/add">
<select name="category" id="category" required>
  <option value="" disabled selected>Select category</option>
  <option value="Fruits & Vegetables">Fruits & Vegetables</option>
  <option value="Meat">Meat</option>
</select>
  <input name="name" placeholder="Product name" list="product_names" required>
  <input name="weight" placeholder="Weight (e.g. 400 g)" required>
  <input name="price" type="number" step="0.01" placeholder="Price" required>
  <input name="stock" type="number" min="0" placeholder="Stock" required>
  <button type="submit">Add</button>
</form>

<hr>

<h2>Update Price</h2>
<form method="POST" action="/manager/update_price">
<select name="name" required>
  <option value="" disabled selected>Select product</option>
  {% for p in products %}
    <option value="{{ p.name }}">{{ p.name }}</option>
  {% endfor %}
</select>

  <input name="price" type="number" step="0.01" placeholder="New price" required>
  <button type="submit">Update Price</button>
</form>

<hr>

<h2>Update Stock</h2>
<form method="POST" action="/manager/update_stock">
<select name="name" required>
  <option value="" disabled selected>Select product</option>
  {% for p in products %}
    <option value="{{ p.name }}">{{ p.name }}</option>
  {% endfor %}
</select>

  <input name="stock" type="number" min="0" placeholder="New stock" required>
  <button type="submit">Update Stock</button>
</form>

</body>
</html>